.detailContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 4px;
    background-color: rgba(197, 197, 219, 0.64);
}

.detailsCard {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.productImg {
    width: 120px;
    height: 120px;
    border-radius: 4px;
}

.infoTextContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    gap: 12px;
}

.soldQty {
    font-size: 12px;
}

.btnProductContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.counterContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.btnCounter {
    font-size: 16px;
    font-weight: 700;
    padding: 4px;
    background-color: rgb(205, 205, 7);
    border: 1px solid black;
    border-radius: 4px;
}

.btnCartContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.addCartBtn {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    background-color: rgba(169, 95, 70, 0.661);
    border: 1px solid black;
    border-radius: 4px;
}

.goToBuyBtn {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    background-color: rgba(169, 95, 70, 0.661);
    border: 1px solid black;
    border-radius: 4px;
}